.mb-40{ margin-bottom: 40px;}
.auth-info.d-flex.align-items-center.gap-2 img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.text-simple {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #475263;
    color: var(--secondary-700);
}
.text-grn{ color: var(--primary2-500);}

.theme-btn-light {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    background-color: var(--secondary-50);
    border-radius: 6px;
    color: var(--secondary-500);
    padding: 5px 10px;
}
.theme-btn-light svg{ margin-right: 5px;}

.profileImage .profileImage img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    flex: 0 0 auto;
}

.profileInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profileContent h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: capitalize;
    margin-bottom: 0px;
    color: var(--secondary-900);
}

.editBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}
.profileContent p{ font-size: 16px; font-weight: 500; line-height: 140%; color: var(--secondary-600);}
.profileContent span{ color: #4B7652;}

.profileStats {
    margin-left: auto;
}

.profileStats {
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.profileStats .statBox {
    box-shadow: 0px 1px 4px 0px #0000001A;
    background-color: var(--bs-white);
    padding: 8px 26px 8px 8px;
    border-radius: 8px;
    display: grid;
    gap: 12px;
    grid-template-columns: 40px 1fr;
}

.profileStats .statBox h4 {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.profileStats .statBox span {
    font-size: 14px;
    display: block;
    color: var(--secondary-600);
}

.profileStats .statBox .icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon.orange{ background-color: var(--warning-50);}
.icon.blue{ background-color: var(--info-50);}
.icon.green{ background-color: var(--success-50);}
.profileCard { margin-bottom: 30px;}
.card-head{ border-bottom: 1px solid var(--secondary-100); margin-bottom: 16px; padding-bottom: 8px;}
.card-head h3 {
    font-weight: 600;
    font-size: 14px;
    color: var(--secondary-600);
    line-height: 100%;
    margin-bottom: 0px;
}

.fs-14 p{ font-size: 14px;}
.list-v-middle svg{ vertical-align: -4px;}
 
.table-text-left table tr th:nth-child(2),
.table-text-left table tr td:nth-child(2){ text-align: left !important;}

.table-left table tr th,
.table-left table tr td{ text-align: left !important;}

.author-name .email {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #64748B;
}

.banner-card {
    box-shadow: 4px 4px 12px 0px #0000000A;
    border-radius: 12px;
    padding: 20px;
    gap: 20px;
    margin-top: 4px;
    display: flex;
    color: var(--secondary-600);
    background-color: var(--bs-white);
}

.banner-card h4, .banner-card h5{
font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: 0%;
color: var(--secondary-800);
margin-bottom: 0px;

}
.banner-card p{ margin-bottom: 0px;}

.banner-image {flex: 0 0 auto; width: 84px;}
.banner-content {
    flex: 1;
    display: grid;
    gap: 20px;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
}

.banner-status {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary2-500);
}

.table-default table tr td .dropdown-toggle {
    padding: 0px 10px;
}

.banner-card .dropdown-toggle {
    padding: 3px 10px;
}

.card-basic-detail img{ width: 100%; border-radius: 16px;}

.card-basic-detail .upload-box {
  width: 100%;
  height: 200px;
  border: 2px dashed var(--gray-5);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transition: all 0.3s ease;
}

.card-basic-detail .upload-box:hover {
  border-color: #cfcfcf;
}

.card-basic-detail  .upload-content {
  text-align: center;
  padding: 20px;
}

.card-basic-detail .upload-content .icon {
  font-size: 48px;
  margin-bottom: 15px;
  color: #bdbdbd;
}

.card-basic-detail .upload-content h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #3B3A48;

}

.card-basic-detail .upload-content p {
  margin-top: 8px;
  font-size: 14px;
  color: #3B3A48;
}

.card-basic-detail  .preview-image {
    width: auto !important;
    height: auto !important;
    border-radius: inherit !important;
}

.card-basic-detail  .remove-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card-basic-detail  .remove-btn:hover {
  background: #ff4d4f;
  color: #fff;
}

.card-basic-detail  .error {
  margin-top: 10px;
  color: #ff4d4f;
  font-size: 14px;
}

@media only screen and (max-width: 991px){
.profileInfo { margin-bottom: 30px;}
.banner-card { flex-direction: column;}
}

@media only screen and (max-width: 767px){
.profileStats {flex-direction: column;}
.banner-content {
    gap: 15px;
    grid-template-columns: 1fr;
}

.banner-action {justify-content: start;}
.banner-action .form-switch { margin: 0px 5px !important;}
.banner-card {
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}
}