.form-control,
.form-select {
    box-shadow: none !important;
    padding: 12px;
    border-radius: 6px;
    background-color: var(--gray-1);
    border: 1px solid var(--secondary-100) !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 140% !important;
    letter-spacing: 0;
    color: var(--secondary-900);
    font-family: var(--Bilmond);
    min-height: auto !important;
    height: auto !important;
}

.min-h-textarea textarea{
    min-height: 100px !important;
}

.form-label {
    padding: 0;
    margin-bottom: 3px;
}

.form-control::placeholder,
.calendar-box input::placeholder {
    color: var(--secondary-300);
    font-family: var(--Bilmond);
}

.form-floating>.form-select {
    padding: 12px;
}

.form-select {
    background: var(--gray-1) url(../images/downArrow.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    transition: none;
}

.form-control:focus,
.form-select:focus {
    background-color: var(--gray-1);
    border-color: var(--primary2-500) !important;
}

label {
    color: var(--secondary-600);
    opacity: 1;
    font-size: 16px;
    left: 14px;
    padding-left: 0;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0;
    font-family: var(--Bilmond);
    padding: 12px 0;
}

.form-floating>label {
    color: var(--secondary-300);
    opacity: 1;
    font-size: 16px;
    left: 14px;
    padding-left: 0;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0;
    font-family: var(--Bilmond);
    padding: 12px 0;
}


.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    height: auto;
    background: var(--gray-1);
    padding: 2px;
    transform: scale(.85) translateY(-11px) translateX(-.25rem);
    line-height: 100%;
    font-family: var(--Bilmond);
    color: var(--secondary-600);
}


.form-floating>.form-control:focus~label,
.form-floating>.form-select:focus~label,
.form-group:has(.form-control:focus) label,
.form-group:has(.form-select:focus) label {
    color: var(--primary2-500) !important;
}

.form-floating>textarea:focus~label:after,
.form-floating>textarea:not(:placeholder-shown)~label:after {
    opacity: 0;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
    padding: 12px !important;
    font-family: var(--Bilmond);
}

.btn-outline {
    border: 1px solid var(--primary2-500);
    padding: 12px 24px;
    border-radius: 6px;
    background: transparent;
    font-family: var(--Bilmond);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: var(--primary2-500);
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.btn-outline:hover {
    border-color: var(--primary2-500);
    background-color: var(--primary2-500);
    color: var(--gray-1);
}

.btn-outline.fill-btn {
    background: var(--primary2-500);
    color: var(--gray-1);
}

.btn-outline.grey-btn {
    background: var(--gray-3);
    border-color: var(--gray-3);
    color: var(--gray-8);
}

.btn-outline.fill-btn:hover {
    border-color: var(--primary2-500);
    background-color: transparent;
    color: var(--primary2-500);
}

.btn-outline.grey-btn:hover {
    border-color: var(--primary2-500);
    background-color: var(--primary2-500);
    color: var(--gray-1);
}


.small-btn-outline {
    font-size: 14px;
    line-height: 20px;
    padding: 9px;
}

.bg-white.border-white:hover {
    color: var(--primary2-500);
    border-color: var(--primary2-500) !important;
}



/**********checkbox radio swich btn design***************/

.form-check-input[type="checkbox"] {
    border: 1px solid var(--gray-8);
    width: 24px;
    height: 24px;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
}

.form-check-input:checked[type="checkbox"] {
    background: var(--primary2-500) url(../images/check-box.svg);
    border: 2px solid var(--secondary-100) !important;
    box-shadow: 0 0 0 1px var(--primary2-500);
    background-repeat: no-repeat;
    background-position: 4px 5px;
    background-size: 12px;
}

.form-check-input:checked[type="checkbox"]:disabled {
    background: var(--secondary-100) url(../images/check-box.svg);
    border: 2px solid var(--secondary-100) !important;
    box-shadow: 0 0 0 1px var(--dark-8);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 4px 5px;
    background-size: 12px;
}

.form-switch label {
    padding-left: 12px;
    line-height: 30px;
}

/*************radio*************/

.form-check-input[type="radio"] {
    border: 1px solid var(--gray-8);
    width: 24px;
    height: 24px;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
}

.form-check-input:checked[type="radio"] {
    border: 4px solid var(--gray-1) !important;
    box-shadow: 0 0 0 1px var(--primary2-500);
    background: var(--primary2-500);
}

.form-check-input:checked[type="radio"]:disabled {
    border: 4px solid var(--gray-1) !important;
    box-shadow: 0 0 0 1px var(--secondary-300);
    background: var(--secondary-300);
    opacity: 0.5;
}


/*****switch*********/

.form-switch {
    padding-left: 40px;
    margin: 0;
    min-height: 30px;
    cursor: pointer;
}

.form-switch .form-check-input[type="checkbox"] {
    width: 44px;
    border-radius: 100px;
    border: none;
    background: var(--secondary-300) url(../images/switch-btn.svg);
    box-shadow: none;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 14%;
}

.form-switch .form-check-input:checked[type="checkbox"] {
    background: var(--primary2-500) url(../images/switch-btn.svg);
    box-shadow: none;
    background-repeat: no-repeat;
    border: none !important;
    background-position: 87%;
    background-size: 16px;
}


/*************password css*********/


.password-eye {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 15px;
}

.simple-password-wrapper .password-eye {
    cursor: pointer;
    position: absolute;
    right: 16px;
    bottom: 17px;
    top: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--gray-13) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--gray-1) inset !important;
    transition: background-color 9999s ease-in-out 0s;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: var(--gray-1) !important;
    color: fieldtext !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--gray-1) inset !important;
}

.floating-password-wrapper:has(input:focus) .password-eye svg path {
    fill: var(--primary2-500);
}

.simple-password-wrapper .form-control:focus+.password-eye svg path {
    fill: var(--primary2-500);
}

/**************calendar css whiout floting whiout floting**************/

.calendar-box input {
    letter-spacing: 0;
    color: var(--gray-12);
    background-color: var(--gray-1);
    border-radius: 6px !important;
    padding: 12px !important;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none !important;
    border: 1px solid var(--secondary-100) !important;
    line-height: 140% !important;
    height: auto !important;
    width: 100% !important;
}


.rs-input-group:focus-within {
    box-shadow: none !important;
    outline: none !important;
}

.calendar-box input:focus,
.calendar-box input:focus-within {
    background-color: var(--gray-1);
    border-color: var(--primary2-500) !important;
    box-shadow: none !important;
    outline: none !important;
}

.calendar-box .rs-input-group-addon {
    position: absolute;
    right: 0;
    background: url(../images/calendar.svg) !important;
    width: 23px !important;
    height: 23px !important;
    padding: 0;
    background-repeat: no-repeat !important;
}



.calendar-box input:focus+.rs-input-group-addon {
    background: url(../images/calendarFocus.svg) !important;
    background-repeat: no-repeat !important;
}

.calendar-box.time-bg .rs-input-group-addon {
    background: url(../images/clock-bg.svg) !important;
    background-repeat: no-repeat !important;
}

.calendar-box.time-bg input:focus+.rs-input-group-addon {
    background: url(../images/clock-bg.svg) !important;
    background-repeat: no-repeat !important;
}



.calendar-box .rs-picker-input-group {
    border: none;
}

.calendar-box .rs-input-group-addon svg {
    display: none;
}


.calendar-box:has(.rs-picker-input-group[data-focus="true"]) label {
    color: var(--primary2-500);
}

.calendar-box.floating-calendar-box label {
    background: var(--gray-1);
    height: auto;
    padding: 2px;
    line-height: 100%;
    position: absolute;
    z-index: 1;
    transform: scale(.85) translateY(-11px) translateX(-.55rem);
    margin: 0;
}



/**************Time picker css whiout floting whiout floting**************/

.timepicker-box input {
    letter-spacing: 0;
    color: var(--gray-12);
    background-color: var(--gray-1);
    border-radius: 6px !important;
    padding: 12px !important;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none !important;
    border: 1px solid var(--secondary-100) !important;
    line-height: 140% !important;
    height: auto !important;
    width: 100% !important;
}




.rs-input-group:focus-within {
    box-shadow: none !important;
    outline: none !important;
}

.timepicker-box input:focus,
.timepicker-box input:focus-within {
    background-color: var(--gray-1);
    border-color: var(--primary2-500) !important;
    box-shadow: none !important;
    outline: none !important;
}

.timepicker-box .rs-input-group-addon {
    position: absolute;
    right: 0;
    background: url(../images/timePicker.svg) !important;
    width: 20px !important;
    height: 24px !important;
    padding: 0;
    background-repeat: no-repeat !important;
}

.timepicker-box input:focus+.rs-input-group-addon {
    background: url(../images/timePickerFocus.svg) !important;
    background-repeat: no-repeat !important;
}


.timepicker-box .rs-picker-input-group {
    border: none;
}

.timepicker-box .rs-input-group-addon svg {
    display: none;
}


.timepicker-box:has(.rs-picker-input-group[data-focus="true"]) label {
    color: var(--primary2-500);
}

.timepicker-box.floating-timepicker-box label {
    background: var(--gray-1);
    height: auto;
    padding: 2px;
    line-height: 100%;
    position: absolute;
    z-index: 1;
    transform: scale(.85) translateY(-11px) translateX(-.65rem);
    margin: 0;
}


/**************file upload***********/

.upload-input-box input[type="file"] {
    cursor: pointer;
}

.upload-input-box .link-icon {
    position: absolute;
    right: 10px;
    bottom: 13px;
    pointer-events: none;
}

.upload-input-box {
    position: relative;
}

.upload-input-box input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
    padding: 0;
    margin: 0;
}

.upload-input-box input[type="file"]::file-selector-button {
    visibility: hidden;
    width: 0;
    padding: 0;
    margin: 0;
}

.upload-input-box input[type="file"]:focus+.link-icon svg path {
    fill: var(--primary2-500);
}

.upload-input-box.floating-upload-input-box label {
    background: var(--gray-1);
    height: auto;
    padding: 2px;
    line-height: 100%;
    position: absolute;
    z-index: 1;
    transform: scale(.85) translateY(-11px) translateX(-.65rem);
    margin: 0;
}

.upload-input-box .form-control[type="file"] {
    color: var(--dark-7);
}

.upload-input-box .form-control[type="file"].file-selected {
    color: var(--gray-12);
}


/**********cuntry code *************/


/* .flag-phone-sec .form-control input {
    padding: 0;
    margin: 0;
    border: none;
    height: auto;
    width: 100%;
    font-family: Open Sauce Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140% !important;
} */


.flag-phone-sec .react-international-phone-input-container .react-international-phone-input {
    width: 100%;
    box-shadow: none !important;
    padding: 12px 12px 12px 100px !important;
    border-radius: 6px;
    background-color: var(--gray-1);
    border: 1px solid var(--secondary-100) !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 140% !important;
    letter-spacing: 0;
    color: var(--gray-12);
    font-family: var(--Bilmond);
    height: auto;
}





.flag-phone-sec .react-international-phone-input-container .react-international-phone-input:focus {
    background-color: var(--gray-1);
    border-color: var(--primary2-500) !important;
}

.react-international-phone-input-container:has(.react-international-phone-input:focus)
.react-international-phone-country-selector {
    border-right-color:  var(--primary2-500) !important;
}

.flag-phone-sec:has(input:focus) label {
    color: var(--primary2-500) !important;
}

.flag-phone-sec .react-international-phone-country-selector {
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid var(--secondary-100) !important;
}

.flag-phone-sec button {
    padding: 12px;
    margin: 0;
    border: none;
    height: auto;
    min-height: auto;
    background: transparent !important;
}

.flag-phone-sec button .react-international-phone-country-selector-button__dropdown-arrow {
    background: transparent url(../images/downArrow.svg);
    border: none;
    width: 17px;
    height: 10px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 7px;
    background-position: center;
}

.flag-phone-sec ul {
    border: 1px solid var(--secondary-100);
    border-radius: 0;
    outline: none;
    padding: 10px;
    box-shadow: none !important;
    margin-top: 6px;
    z-index: 3;
}

.flag-phone-sec ul li {
    padding: 6px 0;
}

.flag-name-sec button {
    letter-spacing: 0;
    color: var(--gray-12);
    border-radius: 6px;
    padding: 12px;
    font-size: 16px !important;
    font-weight: 400;
    box-shadow: none !important;
    border: 1px solid var(--secondary-100) !important;
    line-height: 140% !important;
    height: auto;
    min-height: auto;
    max-height: initial !important;
    background: var(--gray-1) url(../images/downArrow.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    transition: none;
}


.flag-name-sec button:after {
    display: none !important;
}

.flag-name-sec ul {
    box-shadow: none !important;
    outline: none;
    border: 1px solid var(--secondary-100);
    padding: 10px;
    border-radius: 0px;
    margin-top: 4px;
}

.flag-name-sec ul div {
    background: var(--gray-1);
    top: -11px;
}

.flag-name-sec ul li {
    padding: 4px 0;
}

.flag-name-sec ul div input[type="text"] {
    width: 100%;
    margin: 0;
    background-color: var(--gray-1);
    border-radius: 6px;
    padding: 12px 12px;
    font-family: Open Sauce Sans;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none !important;
    border: 1px solid var(--secondary-100) !important;
    line-height: 140% !important;
}


.flag-name-sec button span[data-testid="rfs-selected-flag"] {
    font-size: 22px;
}

.flag-name-sec button span {
    padding: 0 10px 0 0;
    margin: 0;
}

.flag-name-sec button:focus {
    background-color: var(--gray-1);
    border-color: var(--primary2-500) !important;
}

.flag-name-sec:has(button:focus) label {
    color: var(--primary2-500) !important;
}

.label-gray>.form-control-plaintext~label,
.label-gray>.form-control:focus~label,
.label-gray>.form-control:not(:placeholder-shown)~label,
.label-gray>.form-select~label {
    background: linear-gradient(to top, var(--gray-1), var(--dark-3));
}

.floting-box.label-gray label {
    background: linear-gradient(to top, var(--gray-1), var(--dark-3));
}

.floting-box label {
    background: var(--gray-1);
    z-index: 1;
    height: auto;
    margin: 0;
    padding: 2px;
    line-height: 100%;
    position: absolute;
    transform: scale(.85) translateY(-11px) translateX(-.15rem);
    left: 0;
}

.flag-code-sec .ReactFlagsSelect-module_flagsSelect__2pfa2 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

/* grey bg use  css  */



.form-floating.floating-grey-color>.form-control-plaintext~label,
.form-floating.floating-grey-color>.form-control:focus~label,
.form-floating.floating-grey-color>.form-control:not(:placeholder-shown)~label,
.form-floating.floating-grey-color>.form-select~label,
.calendar-box.floating-calendar-box.floating-grey-color label,
.timepicker-box.floating-timepicker-box.floating-grey-color label,
.upload-input-box.floating-upload-input-box.floating-grey-color label,
.floting-box.floating-grey-color label {
    /* background: linear-gradient(to bottom, var(--dark-3) 50%, var(--gray-1) 50%); */
    border: none;
    box-shadow: none;
    color: var(--secondary-600);
}


/***********multi-tag**********/



.filled-box.form-floating label {
    height: auto;
    line-height: 100%;
    padding: 2px;
    transform: scale(.85)translateY(-11px)translateX(-.25rem);
    background: var(--gray-1);
    color: var(--secondary-600);
}

.floating-grey-color.filled-box.form-floating label {
    box-shadow: none;
    border: none;
}

.floating-white-color.filled-box.form-floating label {
    background-color: var(--gray-1);
}


.form-floating.show-placeholder-text>.form-control::placeholder {
    opacity: 1;
    color: var(--gray-12);
}

.form-floating.show-placeholder-text>.form-control:focus::placeholder {
    opacity: 1;
}

.search-area .icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-area .form-control {
    padding-left: 48px;
    height: 50px;
}

.btn-gray {
    background-color: var(--secondary-50);
    border-color: var(--secondary-50);
    color: var(--secondary-400);
}

.btn-light-blue {
    background-color: var(--primary-50);
    border-color: var(--primary-50);
    color: var(--primary2-500);
}


/************************/

.radion-box {
    border: 1px solid var(--dark-5);
    padding: 16px 35px 16px 16px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}

.radion-box .form-check-input[type="radio"] {
    position: absolute;
    right: 13px;
    top: 11px;
    z-index: 2;
}

.radion-box:has(.form-check-input[type="radio"]:checked) {
    border-color: var(--primary2-500);
}

.radion-box:has(.form-check-input[type="radio"]:checked) label {
    color: var(--gray-12);
}

.radion-box:has(.form-check-input[type="radio"]) label span {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0;
}

.radion-box .form-group label {
    cursor: pointer;
}

.footer-file-upload .d-flex.gap-2.flex-column {
    position: relative;
}

.footer-file-upload .form-control {
    width: 100%;
    height: 50px;
    padding: 28px 10px 0 23px;
    font-size: 12px;
    position: absolute !important;
    top: -30px;
    background: none !important;
    border: 0 !important;
}


.blue-text-file label {
    color: var(--primary2-500);
}


/***********radio checkbox*******/

.checkbox-box {
    background-color: var(--gray-1);
    letter-spacing: 0;
    color: var(--gray-12);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--Bilmond);
    border-radius: 6px;
    padding: 15px 12px;
    box-shadow: none !important;
    border: 1px solid var(--dark-5) !important;
    line-height: 140% !important;
}

.checkbox-box .form-check {display: flex;align-items: center;gap: 10px;margin: 0;padding-left: 25px;}

.checkbox-box:has([type="checkbox"]:checked) {
    border-color: var(--primary2-500) !important;
}


.form-check {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0;
    cursor: pointer;
}

.form-check label {
    padding: 0;
    margin: 0;
    color: var(--secondary-600);
    cursor: pointer;
}

.color-dark {
    color: #2A2A39;
    font-weight: 500;
    font-size: 14px;
}

.search-box .icons {
    top: 11px;
    left: 14px;
}

.text-label label {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--dark-9);
}

.text-label .form-check-input[type="radio"] {
    width: 18px;
    height: 18px;
    margin-top: 0 !important;
}




.bg-form {
    background: var(--secondary-50);
    padding: 24px;
    border-radius: 6px;
}

.bg-form .sub-form-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 2%;
    text-transform: capitalize;
    display: block;
}

.form-check-input {
    margin-top: 0;
}

.fs-14 label {
    font-size: 14px;
    color: var(--gray-12);
}




.form-floating>.form-control.ps-5 {
    padding-left: 3rem !important;
}

.rs-picker-popup {
    z-index: 9999;
}


.dropdownBox button {
    background: transparent !important;
    background-color: transparent !important;
    border: none !important;
    text-align: left !important;
    padding: 7px 0;
}

.dropdownBox button::after {
    display: none;
}

.dropdownBox button span img {
    width: 36px;
    height: 36px;
    border-radius: 6px !important;
    display: block;
}

.dropdownBox button  h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--secondary-900);
    margin-bottom: 6px !important;
    width: 112px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdownBox button  p {
    color: var(--primary2-700);
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    width: 112px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.floting-box .flag-name-sec label {
    transform: scale(.85) translateY(-11px) translateX(.65rem);
}

.floting-box .flag-phone-sec label {
    transform: scale(.85) translateY(-11px) translateX(.35rem);
}




.icons-only-drop button {
    background: var(--secondary-100) !important;
    color: var(--gray-12) !important;
    padding: 10px;
}


.dropdown-default-txet button {
    background: var(--secondary-100) !important;
    padding: 12px 15px;
    color: var(--gray-12) !important;
}

.white-select .select-with-text, .white-select  .header-list-box .rs-picker input {
    background: var(--gray-1);
    border: 1px solid var(--secondary-100) !important;
    padding: 6px 10px;
}


.switch-btn.switch-active-disactive {
    padding: 0;
    flex-direction: row-reverse;
}

.switch-btn.switch-active-disactive label {
    width: 65px;
}

.switch-btn.switch-active-disactive input.form-check-input[type="checkbox"] {
    margin: 0;
    height: 20px;
}

.switch-btn.switch-active-disactive input.form-check-input[type="checkbox"]:checked~label {
    color: var(--primary2-500);
}

.padding-fixed .flag-phone-sec button {
    padding: 11px;
}

.upload-box {
    width: 100%;
    border: 1px solid var(--secondary-100);
    border-radius: 4px;
    padding: 10px 16px;
    border-style: dashed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.pading-right-icons {
    padding-right: 80px !important;
}

.pading-right-icons a {
    color: var(--secondary-300);
}

@media only screen and (max-width: 1400px) {

    .form-control,
    .form-select {
        font-size: 14px;
    }

    .form-floating>label,
    label {
        font-size: 14px;
    }

    .btn-outline {
        font-size: 14px;
    }

    .calendar-box input {
        font-size: 14px;
    }

    .timepicker-box input {
        font-size: 14px;
    }

    .flag-phone-sec .react-international-phone-input-container .react-international-phone-input {
        font-size: 14px;
    }

    .flag-name-sec button {
        font-size: 14px !important
    }

    .multipal-select-sec .rs-picker .rs-btn {
        font-size: 14px;
    }

}


@media only screen and (max-width: 767px) {

    .btn-outline {
        padding: 9px 13px;
        font-size: 14px;
    }
 
    .multipal-select-sec .rs-tag-text {
        font-size: 12px;
    }


    .bg-form {
        padding: 15px;
    }


    .dropdownBox button span {
        border-radius: 100px;
        overflow: hidden;
    }
    
    .flag-phone-sec button {
        padding: 10px;
    }

}




@media only screen and (max-width: 424px) {

    .btn-bottom-sec .btn-outline {
        padding: 5px 7px;
        font-size: 13px;
    }

}